* {
    margin: 0;
    padding: 0;
}

.contenedor {
    display: grid;
    width: 100%;
    height: 100%;
    max-height: 1000px;
    margin: 0 auto;
    grid-template-columns: 0.11fr 1fr 0.04fr;
    grid-template-rows: 234px 234px 234px 234px;
    grid-template-areas: 
        "menu lorem1 espacio1"
        "menu lorem2 espacio2"
        "menu lorem3 espacio3"
        "menu lorem4 espacio4"
    ;
    position: absolute;
    font-family: sans-serif;
}

.contenedor p{
    padding-top: 10px;
}

#menu {
    background-color: black;
    color: black;
    grid-area: menu;
    height: 100%;
    box-sizing:border-box;
    position: relative;
    
}

#menu ul{
    background-color: black;
    list-style-type:none;
    padding-top: 40px;
    padding-left: 20px;
    width: 20%;
}

#menu li a{
    text-decoration: none;
    display:block;
    padding:5px;
    width:120px;
    border:2px solid rgb(0, 255, 179); 
    color:white;
}

#menu li a:hover{
    color: grey;
}

#reloj{
    text-align:center;
    padding-top:600px;
}

#caja1 {
    background-color: #2fc9e4;
    grid-area: lorem1;
    vertical-align: middle;
    padding-top: 90px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    font-size: 200%;
}

#subtitulo {
    display: grid;
    text-align: center;
    width: 100%;
    padding-top: 60px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "oportunidad ayudar derecho"
    ;
    font-size: 125%;
    color: black;
    font-size: 175%;
}

#caja1 h1{
    text-align: center;
}


#caja2 {
    background-color: yellow;
    grid-area: lorem2;
    vertical-align: middle;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
}

#caja3 {
    background-color: orange;
    grid-area: lorem3;
    vertical-align: middle;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
}

#caja3 img1{
    margin: 0;
    padding: 10;
}
#caja3 img{
    margin: 0;
    padding-left: 300px;
}

#caja4 {
    background-color: red;
    grid-area: lorem4;
    vertical-align: middle;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    position:relative;
}
#informacion {
    color: white;
    text-align: center;

    font-size: 85%;
    text-decoration:none;
}
#informacion p:hover{
    color:burlywood;
}

#espacio1 {
    background-color: black;
    grid-area: espacio1;
}
#espacio2 {
    background-color: black;
    grid-area: espacio2;
}
#espacio3 {
    background-color: black;
    grid-area: espacio3;
}
#espacio4 {
    background-color: black;
    grid-area: espacio4;
}


/* Logo twitter, instagram, github */

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 16vh;
}
.box{
    width: 70px;
    height: 70px;
    position: relative;
    margin: 0;
}
.icon-box, .inner-box{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #c32aa3;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all .4s;
}
.ib-t{
    background: #1da1f2;
}
.ib-g{
    background: #333;
}
.box:hover .icon-box{
    transform: translateY(-30px);
}
.inner-box{
    background: #fffeff;
    align-items: flex-end;
    justify-content: center;
    z-index: -1;
    color: rgb(41, 41, 41);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.082);
}
.inner-box p{
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.2rem;
    margin-bottom: 5px;
    position: relative;
}

a{
    color: white;
    text-decoration: none;
}
